
.actions{

}

.feed{

}

.Game{
    display:flex;
    flex-direction: row-reverse;
}

.maincontent{
    display:inline-block;
    max-width:900px;
    width:900px;
    padding: 20px;
}

.statuspanel{
    display:inline-block;
    min-width:300px;
    padding: 20px;
}

.marginzero{
    margin:0;
}

.onlymobile{
    display: none;
}

button{
    background-color: white;
    padding:5px;
    border:1px solid black;
}
button:hover{
    background-color: lightgray;
}


.flex-between{
    display: flex;
    justify-content: space-between;
}

.asset{

    padding: 2px 0;
}

.asset .name,
.asset .value,
.asset .action{
    margin: 2px;
}

@media only screen and (max-width: 768px) {
    .Game{
        display:block;
    }

    .onlymobile{
        display: block;
    }

    .maincontent{
        width: auto;
    }
}